/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/spec/examples.txt
/spec/internal/**/log/*
/vendor/bundle
node_modules
/docs/dist
Gemfile.lock
gems.locked
.rubocop-*
.covered.db
.DS_Store
